/*@font-face{
  font-family: 'amatic';
  src: url('assets/fonts/amatic/AmaticSC-Regular.ttf');
}
body{
  font-family:amatic,sans-serif;
}*/
#container {
    position: relative;
}

.top{
    width: 100%;
	position: absolute;
	top: 0;
}

#back{
    position: absolute;
    left: 0;
}

#menu{

    position: absolute;
    right: 0;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 22px;
    margin: 0px 0px 16px 0px;
}

.bottom > * {
    display: inline-block;
	vertical-align: middle;
	margin: 0px 0px 16px 0px;
}
.playback_btn{
	height: 38px; 
	width: 38px;
}

#progress_bar {
	display: inline-block;
	width: 80%;
	height: 3px;
	background-color: teal;
}


.overlay {
    position:absolute !important;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:2;
    color:white;
}

.ui-content {
	background-color: black;
	padding: 0px;
}

.userList{
	color: #91D44E;
    font-family: "Lucida Console", Monaco, monospace;
}
#popupPanel-popup {
    right: 0 !important;
    left: auto !important;
}
#popupPanel {
    width: 200px;
    border: 1px solid #000;
    border-right: none;
    background: rgba(0,0,0,0.9);
    margin: -1px 0;
}
#popupPanel .ui-btn {
    margin: 2em 15px;
}

.video {
    width: auto;
    display: inline-block;
    top: initial;
    bottom: 11%;
    
}

.video img {
    width: 20%;
    height: auto;
    float: right;
}


.screen > * {
	width: 100%;
}


.friends{
  margin-top: 10px;
}
.dotFriends{
  margin-top: 18px;
}

.emoji-opts {
    display: none;
    background-color: rgba(0,0,0,0.5);
    border-radius: 25px;
    padding: 3px;
    height: 41px;
    left: 40px;
    width: 255px;
}

.camera_box {
    margin: 0px;
}
#camera {
    position: absolute;
    margin-top: 0px;
}
.bookmarks {
    display: inline-block;
    left: 40px;
    width: 80%;
    padding-top: 8px;
}

.bookmark {
    background-color: orange;
    height: 20px;
    width: 5px;
}

#bm_1, #bm_2, #bm_3 {
    display: none;
}

#bm_1 {
    margin-left: 80px;
}
#bm_2 {
    margin-left: 100px;
}
#bm_3 {
    margin-left: 30px;
}


#success_camera {
    visibility: hidden;
    position: relative;
    top: -1px;
    left: -2px;
    width: 45px;
    height: 45px;
    z-index:9999;
    color:white;s
}
