*{
  margin:0;
  padding:0;
}
@font-face{
  font-family: 'amatic';
  src: url('assets/fonts/amatic/AmaticSC-Regular.ttf');
}

body{
  font-family:amatic,sans-serif;
}
ul,li{
  list-style:none;
}
ul{
  overflow:hidden;
  padding:10px 75px;
}
ul li{
  margin:15px;
  float:left;
}
h2{
  font-size:200%;
  text-align: center;
}

p{
  font-size:150%;
}
.textReaction{
  font-size:120%;
}
.friends{
  margin-top: 10px;
}
.dotFriends{
  margin-top: 15px;
}
.chatText{
  font-size:120%;
  margin-top: 10px;
}

.left-arrow{
  width:22px;
  display:block;
  margin-top:50px;
  float:left;
}

.right-arrow{
  width:22px;
  display:block;
  margin-top:50px;
  float:left;
}

.covers {
  position: relative;
  overflow: auto;
  float:left;
}

.square{
  width:140px;
  height:200px;
  border-style: solid;
  border-width: 1px;
}

.movie-img{
  width: 200px;
  height: 300px;
}
