* {
  margin:0;
  padding:0;
}
@font-face{
  font-family: calibri,sans-serif;
  font-size: 120%;
  font-weight: lighter;
}

/*body{
  font-family:amatic,sans-serif;
  
}
*/
ul{
  overflow:hidden;
  padding:10px 10px;
}
ul li{
  list-style:none;
  margin:5px;
  float:left;
}
h2{
  font-size:200%;
  font-weight: bold;
  text-align: center;
}

p{
  font-size:150%;
}

.header{
  padding:10px;
}
.btn-circle{
  position: absolute;
  top:20px;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50%;
}
.col-xs-6{
  padding: 2px;
}
.buttons{
  background-color: #e6e6e6;
  text-align: center;
}
.buttons-text{
  color: black;
}
.carousel-inner{
  height:120px;
}
.carousel-inner .active.left {
 left: -33%;
}
.carousel-inner .next {
 left:  33%;
}
.carousel-inner .prev {
 left: -33%;
}

.row{
  margin-bottom: 10px;
}
.textReaction{
  font-family: calibri,sans-serif;
  font-weight: lighter;
  font-size:100%;
}
.friends{
  margin-top: 14px;
  font-family: calibri,sans-serif;
  font-size: 120%;
  font-weight: lighter;
}
.dotFriends{
  margin-top: 18px;
}

.chatBtn{
  position: relative;
  top: 10px;
}

.chatText{
  font-family: calibri,sans-serif;
  font-weight: lighter;
  font-size:100%;
  margin-top: 10px;
}
.keyboard{
  position: fixed;
  left: 0px;
  bottom: 10px;
  padding: 10px;
}
.left-arrow{
  position: absolute;
  top: 0px;
  bottom: 0px;
  width:30px;
  display: block;
  margin-top:40px;
  left:-15px;
}

.right-arrow{
  position: absolute;
  top: 0px;
  bottom: 0px;
  width:30px;
  display:block;
  margin-top:40px;
  right:-20px;
}

.covers {
  position: relative;
  overflow: auto;
  float:left;
}

.square {
  width:70px;
  height:120px;
  border-style: solid;
  border-width: 1px;
}

.movie-img{
  width: 80px;
  height: 120px;
}


#custom-search-input {
  margin:0;
  margin-top: 20px;
  padding: 0;
}

#custom-search-input .search-query {
  padding-right: 3px;
  padding-left: 3px;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#custom-search-input button {
  border: 0;
  background: none;
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color:#004de6;
}

#cancel-btn{
  text-align: left;
}

#play-btn{
  text-align: right;
}